<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/api/index/forgetpass" method="post">
      <input type="text" placeholder="firstName" name="firstName" />
      <input type="text " placeholder="userName" name="userName" />
      <input type="email" placeholder="eMail" name="eMail" />
      <input type="text" placeholder=" New Password" name="password">
      <button type="submit">Forget</button>
    </form>
  </body>
</html>
